@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
body {
  margin: auto;
  min-height: 1000vh;
  background: linear-gradient(215.22deg, #7fc5a3 30.4%, rgba(127, 167, 197, 0.935106) 91.46%, rgba(127, 197, 163, 0.0416667) 140.99%, rgba(127, 197, 163, 0) 141%);
  background-repeat: no-repeat;
}

.partOne {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
}

.darkone {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 950px;
  background-image: url(darkBackground.svg);
  background-repeat: no-repeat;
}

.wave {
  position: relative;
  width: 100%;
}

.partTwo {
  width: 100%;
  height: 100%;
}

.logo {
  align-self: flex-start;
}

.desc,
.desc-text {
  position: relative;
  top: 50px;
  right: 40px;
  margin: 65px;
  font-family: "Rhodium Libre", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
  color: #494040;
}

.desc, .desc-text,
.desc1 {
  margin: 60px;
}

.side-list {
  position: fixed;
  height: 100vh;
  width: 250px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #ACD2D4;
  font-family: "Rhodium Libre", serif;
}

.side-list-grow {
  margin-top: 35px;
  padding: 20px 0;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  align-items: stretch;
  width: 100%;
}

.btn {
  position: absolute;
  font-size: 45px;
  background: #94bfc2;
  cursor: pointer;
}

.fa-times {
  font-size: 35px;
  z-index: 10;
  z-index: 4;
}

.side1 {
  list-style: none;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  background: #93BFC1;
  text-align: center;
  margin-top: 0;
  border-left: 4px solid #6B8687;
}

.side1, a {
  text-decoration: none;
  color: #fff;
}

.sidebar .side1 {
  position: static;
}

.button {
  align-self: center;
  width: 225px;
  height: 140px;
  color: #fff;
  background: #82bcb0;
  border: 2px solid #b4a3a3;
  border-radius: 24px;
  font-size: 22px;
  font-family: "Rhodium Libre", serif;
  font-style: normal;
  font-weight: normal;
  outline: none;
  cursor: pointer;
  z-index: 3;
}

.hamburger {
  align-self: flex-end;
  position: relative;
  display: block;
  width: 40px;
  height: 25px;
  border: 0;
  border-top: 5px solid #494040;
  background: transparent;
  cursor: pointer;
  outline: none;
  z-index: 0;
}

.hamburger.close {
  position: fixed;
  z-index: 3;
  right: 205px;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  position: absolute;
  align-self: flex-end;
  top: 0;
  left: 0;
  width: 40px;
  height: 25px;
  border: 0;
  border-top: 5px solid #494040;
  transform: translateY(7px);
}

.hamburger::after {
  display: block;
  transform: translateY(20px);
  align-self: flex-end;
  z-index: 8;
}

@media (max-width: 768px) {
  body {
    margin: 25px;
  }
  .partOne {
    justify-content: space-between;
  }
  .logo {
    align-self: flex-end;
  }
  .hamburger {
    align-self: center;
  }
  #button {
    align-self: center;
  }
  .darkone {
    display: flex;
    align-content: center;
    background-size: 1100px 900px;
  }
  .desc,
  .desc-text,
  .desc1 {
    font-size: 17px;
    margin: 45px;
  }
  .side-list {
    width: 125px;
  }
  .side-list-grow {
    width: 125px;
  }
}

@media (min-width: 769px) {
  .body {
    margin: 10px;
    width: 100%;
  }
}
