@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
body {
  margin: auto;
  min-height: 1000vh;
  background: linear-gradient(215.22deg, #7FC5A3 30.4%, rgba(127, 167, 197, 0.935106) 91.46%, rgba(127, 197, 163, 0.0416667) 140.99%, rgba(127, 197, 163, 0) 141%);
  background-repeat: no-repeat;
}

.partOne {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.darkone {
  position: relative;
  top: 170px;
  margin-top: 50px;
  height: 950px;
  background-image: url(darkBackground.svg);
  background-repeat: no-repeat;
}

.wave {
  position: relative;
  width: 100%;
}

.partTwo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  align-self: flex-start;
}

.desc, ul {
  position: relative;
  top: 450px;
  right: 50px;
  margin: 65px;
  font-family: 'Rhodium Libre', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
  color: #494040;
}

ul, li {
  margin: 60px;
}

#button {
  position: relative;
  top: 100px;
  left: 560px;
  width: 225px;
  height: 90px;
  color: #fff;
  background: #82BCB0;
  border: 2px solid #B4A3A3;
  border-radius: 24px;
  font-size: 22px;
  font-family: 'Rhodium Libre', serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 55px;
  padding-left: 24px;
  cursor: pointer;
}

.hamburger {
  align-self: flex-end;
  width: 40px;
  height: 25px;
  border: 0;
  border-top: 5px solid #494040;
  background: transparent;
  cursor: pointer;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  align-self: flex-end;
  top: 0;
  left: 0;
  width: 40px;
  height: 25px;
  border: 0;
  border-top: 5px solid #494040;
  transform: translateY(7px);
}

.hamburger::after {
  transform: translateY(20px);
  align-self: flex-end;
}

@media (max-width: 768px) {
  body {
    margin: 20px;
    background-size: contain;
  }
  #button {
    position: relative;
    top: 55px;
    left: 160px;
    width: 225px;
    height: 90px;
  }
  .darkone {
    position: relative;
    top: 170px;
    margin-top: 50px;
    height: 750px;
    width: 750px;
  }
}

@media (min-width: 769px) {
  .body {
    margin: 10px;
    width: 100%;
  }
}
